#freedom_video { width: 800px ; }
.video_payer { width: 800px ; } 
.video_player .custom_controls { background-color: #fcfcfc ; clear : both; height: 23px; left:20px;padding: 5px;position:relative;top: -50px;width: 90% ; }

.play, .pause , .volume , .time_slider, .timer { float:left;} 
.play, .pause, .mute , .unmute { cursor: pointer ; }
.play, .pause { display: block;height: 24px; margin-left: 5px;
		margin-right: 15px;opacity: 0.8 ; width: 33px ; 
		background: url(./play.jpg) no-repeat ; 
		transition: all 0.2s ease-in-out ; 
		-webkit-transition: all 0.2 ease-in-out ; 
		-o-transition: all 0.2s ease-in-out ; 
		-moz-transition: all 0.2s ease-in-out;
		}
		.play { background-position: 0.0; }
		.pause { background-position: 0px -32px; display: none; }
		.play:hover, .pause:hover { opacity: 1;}
		
		.ui-slider-handle { display:block;margin-left: -9px;
					position:absolute ; z-index: 2; }
		.ui-slider-range { bottom: 0; display: block; height:100%; 
					left: 0;position:absolute;width: 100%; z-index: 1;}
		.time_slider { border: 1px solid #444; height: 10px;width:470px; margin-top:5px;position:relative;
			border-radius: 15px 15px 15px 15px ;
			
